<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="這家發跡新竹的廠商自「全球專業分工」年代崛起，現在卻成為「新冷戰」下的戰略陣地。">
    <meta property="fb:app_id" content="">
    <meta property="og:title" content="【地圖頁面】台積電擴廠史：全球化晶圓代工的昨日、今日與未來｜端傳媒 Initium Media">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://theinitium.com/project/20210915-project-taiwan-tsmc-semiconductor-history">
    <meta property="og:image" content="https://theinitium.com/project/20210915-project-taiwan-tsmc-semiconductor-history/img/thumb.jpg">
    <meta property="og:image:alt" content="【地圖頁面】台積電擴廠史：全球化晶圓代工的昨日、今日與未來｜端傳媒 Initium Media">
    <meta property="og:site_name" content="【地圖頁面】台積電擴廠史：全球化晶圓代工的昨日、今日與未來｜端傳媒 Initium Media">
    <meta property="og:description" content="這家發跡新竹的廠商自「全球專業分工」年代崛起，現在卻成為「新冷戰」下的戰略陣地。">
    <title>【地圖頁面】台積電擴廠史：全球化晶圓代工的昨日、今日與未來｜端傳媒 Initium Media</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/app.min.css">
    <script>
      (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-65642613-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="wrapper" :class="i18n.locale">
      <nav id="nav">
        <div class="logo"><a href="/"></a></div>
      </nav>
      <main class="index" id="main">
        <div id="loading" v-if="isLoading">
          <div class="container text-center">
            <figure><img class="img-fluid" src="img/vec-13.png"></figure><span><i></i>Loading...</span>
          </div>
        </div>
        <div id="map">
          <div class="dashboard">
            <div class="container">
              <div class="row">
                <div class="col-8 col-md-3">
                  <div class="row">
                    <div class="col-5 col-md-12">
                      <div class="d-flex">
                        <div class="price">
                          <h6>{{ $t('dashboard.price') }}</h6><span v-if="active.price">{{active.price}}</span><span v-else>--</span>
                        </div>
                        <div class="chart d-none d-lg-inline-block">
                          <ve-line :data="chartData" :extend="chartExtend" :x-axis="xaxis" width="105px" height="63px"></ve-line>
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-md-12">
                      <div class="capex">
                        <h6 v-html="$t('dashboard.capex')"></h6><span v-if="active.capex">{{active.capex}}</span><span v-else>--</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-md-3">
                  <div class="tech">
                    <h6>{{ $t('dashboard.tech') }}</h6><span v-if="active.tech">{{active.tech}}</span><span v-else>--</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <hr class="d-md-none">
                  <div class="year"><span>{{active.year}}</span><span v-if="isPeriod1 &amp;&amp; isMobile">-{{ $t('timeline.p1') }}</span><span v-if="isPeriod2 &amp;&amp; isMobile">-{{ $t('timeline.p2') }}</span><span v-if="isPeriod3 &amp;&amp; isMobile">-{{ $t('timeline.p3') }}</span><span v-if="isPeriod4 &amp;&amp; isMobile">-{{ $t('timeline.p4') }}</span><span v-if="isPeriod5 &amp;&amp; isMobile">-{{ $t('timeline.p5') }}</span><span v-if="isPeriod6 &amp;&amp; isMobile">-{{ $t('timeline.p6') }}</span><span v-if="isPeriod7 &amp;&amp; isMobile">-{{ $t('timeline.p7') }}</span></div>
                  <div class="text" v-html="active.text"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="period d-none d-md-block"><span class="flex-1" :class="{active: isPeriod1}">{{ $t('timeline.p1') }}</span><span class="flex-3" :class="{active: isPeriod2}">{{ $t('timeline.p2') }}</span><span class="flex-3" :class="{active: isPeriod3}">{{ $t('timeline.p3') }}</span><span class="flex-2" :class="{active: isPeriod4}">{{ $t('timeline.p4') }}</span><span class="flex-2" :class="{active: isPeriod5}">{{ $t('timeline.p5') }}</span><span class="flex-2" :class="{active: isPeriod6}">{{ $t('timeline.p6') }}</span><span class="flex-2" :class="{active: isPeriod7}">{{ $t('timeline.p7') }}</span></div>
            <div class="years"><span v-for="(data, idx) in datas" :key="idx" :class="[{'active': data.year === active.year}, 'y'+data.year]">{{data.year}}</span></div>
          </div>
          <div class="mask"></div>
        </div>
        <div class="intro stage">
          <div class="scene">
            <div class="container">
              <div class="card card-1-1 yellow">
                <div class="inner">
                  <div class="title">
                    <div class="d-flex justify-content-between"><span>{{ $t('card11.span') }}</span>
                      <div class="buttons">
                        <button class="btn" @click="setLang('zh')">中文</button><i>/</i>
                        <button class="btn" @click="setLang('en')">Eng</button>
                      </div>
                    </div>
                    <h1>{{ $t('card11.h11') }}<br><b>{{ $t('card11.h12') }}</b></h1>
                  </div>
                  <div class="text" v-html="$t('card11.p')"></div>
                  <div class="tips text-center"><span class="icon"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene">
            <div class="container">
              <div class="card card-1-2 yellow">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-9" v-html="$t('card12.p')"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene">
            <div class="container">
              <div class="card card-2 yellow">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-7">
                    <h2 class="text-center">{{ $t('card2.h2') }}</h2>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="phone">
                    <div class="box">
                      <figure class="case d-none d-md-block"><img class="img-fluid" src="img/phone.svg"></figure>
                      <figure class="board"><img class="img-fluid" src="img/board.svg"></figure>
                    </div>
                    <div class="item chip-1">
                      <figure></figure>
                      <div class="desc">
                        <h6><span class="d-md-none">1</span>{{ $t('card2.h61') }}</h6>
                        <p>{{ $t('card2.p1') }}</p>
                      </div>
                    </div>
                    <hr class="d-md-none">
                    <div class="item chip-2">
                      <figure></figure>
                      <div class="desc">
                        <h6><span class="d-md-none">2</span>{{ $t('card2.h62') }}</h6>
                        <p>{{ $t('card2.p2') }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene">
            <div class="container">
              <div class="card card-3 yellow">
                <h2 class="text-center">{{ $t('card3.h2') }}</h2>
                <div class="row justify-content-center">
                  <div class="col-10 col-md-4">
                    <div class="item item-1 text-center">
                      <figure><img class="img-fluid" src="img/vec-1.svg"></figure>
                      <h3>{{ $t('card3.h31') }}</h3>
                      <div class="desc">
                        <p>{{ $t('card3.p1') }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-10 col-md-4">
                    <div class="item item-2 text-center" :class="{active: isMobile}">
                      <figure :data-tag="$t('card3.tag')"><img class="img-fluid" src="img/vec-2.svg"></figure>
                      <h3>{{ $t('card3.h32') }}</h3>
                      <div class="desc">
                        <p>{{ $t('card3.p2') }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-10 col-md-4">
                    <div class="item item-3 text-center">
                      <figure><img class="img-fluid" src="img/vec-3.svg"></figure>
                      <h3>{{ $t('card3.h33') }}</h3>
                      <div class="desc">
                        <p>{{ $t('card3.p3') }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene">
            <div class="container">
              <div class="card card-4 yellow">
                <h2>{{ $t('card4.h2') }}</h2>
                <div class="row">
                  <div class="col-12 col-md-7">
                    <figure class="wafer"><img class="img-fluid" src="img/vec-4.svg"></figure>
                    <div class="text" v-html="$t('card4.p1')"></div>
                  </div>
                  <div class="col-12 col-md-5">
                    <figure class="nm"><img class="img-fluid" src="img/vec-5.svg"></figure>
                    <div class="text" v-html="$t('card4.p2')"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene">
            <div class="container">
              <div class="card card-5 yellow">
                <h2>{{ $t('card5.h2') }}</h2>
                <div v-html="$t('card5.p1')"></div>
                <div class="row align-items-center justify-content-center">
                  <div class="col-8 col-md-4">
                    <figure class="wafer"><img class="img-fluid" src="img/people-1.png"></figure>
                    <hr class="d-md-none">
                  </div>
                  <div class="col-md-8" v-html="$t('card5.p2')"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="events stage">
          <div class="scene y1987"></div>
          <div class="scene y1990"></div>
          <div class="scene y1994"></div>
          <div class="scene y1995"></div>
          <div class="pedia pedia-1">
            <div class="container">
              <div class="card blue">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-9">
                    <div v-html="$t('pedia1.p1')"></div>
                    <div class="row align-items-center justify-content-center">
                      <div class="col-12 col-md-1"></div>
                      <div class="col-8 col-md-4">
                        <figure><img class="img-fluid" src="img/vec-7.png"></figure>
                      </div>
                      <div class="col-12 col-md-1">
                        <hr class="d-md-none">
                      </div>
                      <div class="col-12 col-md-6" v-html="$t('pedia1.p2')"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene y1998"></div>
          <div class="scene y2000"></div>
          <div class="scene y2000"></div>
          <div class="scene y2000"></div>
          <div class="scene y2000"></div>
          <div class="scene y2001"></div>
          <div class="pedia pedia-2">
            <div class="container">
              <div class="card blue">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-9">
                    <div v-html="$t('pedia2.p1')"></div>
                    <div class="row align-items-center justify-content-center">
                      <div class="col-8 col-md-4">
                        <figure class="y1996"></figure>
                      </div>
                      <div class="col-12 col-md-8" v-html="$t('pedia2.p2')"></div>
                    </div>
                    <div v-html="$t('pedia2.p3')"></div>
                    <div class="row align-items-center justify-content-center">
                      <div class="col-8 col-md-4">
                        <figure class="y2000"></figure>
                      </div>
                      <div class="col-12 col-md-8" v-html="$t('pedia2.p4')"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene y2003"></div>
          <div class="scene y2004"></div>
          <div class="scene y2004"></div>
          <div class="pedia pedia-3">
            <div class="container">
              <div class="card blue">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-9">
                    <div v-html="$t('pedia3.p1')"></div>
                    <figure class="text-center" v-if="i18n.locale === 'zh'"><img class="img-fluid d-none d-lg-inline-block" src="img/vec-11-zh.png"><img class="img-fluid d-inline-block d-lg-none" src="img/vec-11m-zh.png" style="max-width: 184px"></figure>
                    <figure class="text-center" v-else-if="i18n.locale === 'en'"><img class="img-fluid d-none d-lg-inline-block" src="img/vec-11-en.png"><img class="img-fluid d-inline-block d-lg-none" src="img/vec-11m-en.png" style="max-width: 184px"></figure>
                    <div v-html="$t('pedia3.p2')"></div>
                  </div>
                </div>
                <div class="phones">
                  <div class="phone nokia">
                    <figure><img class="img-fluid" src="img/phone-1.png">
                      <figcaption><span class="model">NOKIA 3310 (2000)</span><span class="brand">{{ $t('pedia3.brand1') }}</span></figcaption>
                    </figure>
                  </div>
                  <div class="phone">
                    <figure><img class="img-fluid" src="img/phone-2.png">
                      <figcaption><span class="model">NOKIA N70 (2005)</span><span class="brand">{{ $t('pedia3.brand2') }}</span></figcaption>
                    </figure>
                  </div>
                  <div class="phone">
                    <figure><img class="img-fluid" src="img/phone-3.png">
                      <figcaption><span class="model">iPhone 3GS (2009)</span><span class="brand">{{ $t('pedia3.brand3') }}</span><span class="tips">{{ $t('pedia3.tips3') }}</span></figcaption>
                    </figure>
                  </div>
                  <div class="phone">
                    <figure><img class="img-fluid" src="img/phone-4.png">
                      <figcaption><span class="model">iPhone 6s (2015)</span><span class="brand">{{ $t('pedia3.brand4') }}</span></figcaption>
                    </figure>
                  </div>
                  <div class="phone">
                    <figure><img class="img-fluid" src="img/phone-5.png">
                      <figcaption><span class="model">iPhone 7 (2016)</span><span class="brand">{{ $t('pedia3.brand5') }}</span><span class="tips">{{ $t('pedia3.tips5') }}</span></figcaption>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene y2011"></div>
          <div class="scene y2014"></div>
          <div class="scene y2018"></div>
          <div class="scene y2019"></div>
          <div class="pedia pedia-4">
            <div class="container">
              <div class="card blue">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-8">
                    <div v-html="$t('pedia4.p1')"></div>
                    <div class="row align-items-center">
                      <div class="col-6 col-md-5">
                        <figure><img class="img-fluid" src="img/vec-12.png"></figure>
                      </div>
                      <div class="col-6 col-md-7" v-html="$t('pedia4.p2')"></div>
                    </div>
                    <div v-html="$t('pedia4.p3')"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scene y2020"></div>
          <div class="scene y2020"></div>
          <div class="scene y2021"></div>
          <div class="scene y2021"></div>
        </div>
        <div class="final stage">
          <div class="container">
            <div class="building">
              <div class="row justify-content-center">
                <div class="col-9 col-lg-5">
                  <figure class="text-center"><img class="img-fluid" src="img/vec-13.png">
                    <figcaption class="serif">{{ $t('final.figcaption') }}</figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8" v-html="$t('final.p1')"></div>
            </div>
            <div class="people people-1">
              <div class="row align-items-end justify-content-center">
                <div class="col-8 col-md-4 col-lg-3">
                  <figure><img class="img-fluid" src="img/people-4.png"></figure>
                </div>
                <div class="col-12 col-md-8 col-lg-7">
                  <blockquote>
                    <h6>{{ $t('final.h61') }}</h6>
                    <div class="text-right"><span class="serif">{{ $t('final.span1') }}</span></div>
                  </blockquote>
                </div>
              </div>
            </div>
            <hr class="d-md-none">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8" v-html="$t('final.p2')"></div>
            </div>
            <div class="people people-2">
              <div class="row align-items-end justify-content-center">
                <div class="col-8 col-md-4 col-lg-3 order-md-2">
                  <figure><img class="img-fluid" src="img/people-5.png"></figure>
                </div>
                <div class="col-12 col-md-8 col-lg-7 order-md-1">
                  <blockquote>
                    <h6>{{ $t('final.h62') }}</h6>
                    <div class="text-left"><span class="serif">{{ $t('final.span2') }}</span></div>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="people people-3">
              <div class="row align-items-end justify-content-center">
                <div class="col-8 col-md-4 col-lg-3">
                  <figure><img class="img-fluid" src="img/people-1.png"></figure>
                </div>
                <div class="col-12 col-md-8 col-lg-7">
                  <blockquote>
                    <h6>{{ $t('final.h63') }}</h6>
                    <div class="text-right"><span class="serif">{{ $t('final.span3') }}</span></div>
                  </blockquote>
                </div>
              </div>
            </div>
            <hr class="d-md-none">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8" v-html="$t('final.p3')"></div>
            </div>
          </div>
        </div>
        <div class="read stage">
          <div class="mask" @click="readDisplay(false)"></div>
          <div class="container">
            <div class="card blue">
              <div class="support">
                <div class="text">
                  <h6>加入端傳媒，支持好新聞</h6><span>用你選擇的媒體，決定你看見的世界</span>
                </div>
                <div class="button"><a href="https://theinitium.com/subscription/offers/?&amp;utm_source=initium&amp;utm_medium=initium&amp;utm_campaign=initium_project" target="_blank">付費支持</a></div>
              </div>
              <h2 class="text-center">延伸閱讀</h2>
              <div class="row justify-content-center">
                <div class="col-6 col-md-4">
                  <div class="article"><a href="https://theinitium.com/article/20210630-taiwan-white-house-semiconductor/" target="_blank">
                      <figure><img class="img-fluid" src="img/read-1.jpg"></figure>
                      <h3>解析白宮半導體供應鏈關鍵報告：拜登在新一輪晶片戰爭中劍指何方？</h3></a></div>
                </div>
                <div class="col-6 col-md-4">
                  <div class="article"><a href="https://theinitium.com/article/20210914-taiwan-umc-jackson-hu/" target="_blank">
                      <figure><img class="img-fluid" src="img/read-2.jpg"></figure>
                      <h3>聯電前董事長胡國強專訪：中美競爭下，半導體業的未來將如何？</h3></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer id="footer">
        <div class="container">
          <div class="credit">
            <h6 class="text-center">{{ $t('credit.h6') }}</h6>
            <div class="d-flex justify-content-center">
              <table v-html="$t('credit.table')"></table>
            </div>
          </div>
          <div class="copyright text-center"><span>©2021 Initium Media. All Rights Reserved.</span></div>
        </div>
      </footer>
    </div>
    <script data-cfasync="false" src="js/app.min.js"></script>
  </body>
</html>